/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family:Kanit, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    text-align: center;
    background-color: #ecf0f1;
    font-size: clamp(1rem, 4vw, 1.2rem);
}
/* Estilos para titulos */
h1, h2 {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h3 {
    font-size: 2rem;
    padding-bottom:1.5%
}

h4 {
    font-size: 1.2rem;
}

/* Estilos para el header , listas*/
header {
    background-color: #426756;   
    padding: 1%;
}

li {
    display: inline; 
    margin: 2.5%;
}

a {
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Estilos para la seccion cabecera  */
.cabecera {
    background-image: url('../img/cabecera.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    border: 20px solid #ecf0f1;
    padding: 15%;
}

.cabecera p {
    font-size: 1.3rem;
    color: white;
  }

/* Estilos para la sección de propiedades  */
.propiedad {
    padding: 2% 2%;
}
.propiedad_contenedor {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.propiedad_contenedor div {
    background-color: #c6e2cb;
    width: 300px;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
}

.propiedad img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.propiedad p {
    color: rgb(17 73 47);
    margin-bottom: 2%;
    font-size: 1rem;
}
.propiedad_boton {
    background-color: #516b56;
    color: white;
    border-radius: 5px;
    padding: 2%;
    font-size: 1rem;
}

/* Estilos para el formulario de busqueda  */
.busqueda {
    padding-top: 2% ;
}
.busqueda form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 1.5%
}
.busqueda select, .busqueda input {
    padding: 10px;
    font-size: 1rem;
    margin: 10px;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    width: 200px;
    font-family: Kanit, Geneva, Tahoma, sans-serif; 
}
/*Estilo para los botones submit*/
button {
    background-color: #516b56;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1%;
    font-size: 1rem;
    margin: 1%  ;
    font-family: Kanit, Geneva, Tahoma, sans-serif; 
}

/* Estilos para la sección nosotros, clases testimonio y sobre nosotros */

.testimonios {
    padding: 0% 1%;
    display: grid;
    grid-template-columns: auto auto;

}

.item1{
    margin:1%;
    padding:1%;
    border: 2px solid #bdc3c7;
    border-radius: 4px;
}
.testimonios, .nosotros {
    font-size: 1.2rem;
    font-style: italic;
    color: rgb(17 73 47);

}
.nosotros p {
    padding: 0.5% 2%;
}
/*Estilos para la sección contacto: formulario y mapa*/
#contacto{
    padding-top: 1%;
}
.contacto_flex{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;   
    justify-content: center;
    gap: 5px;

}
.contacto_flex div{
    flex: 1
}

/*Formulario de contacto*/
.formulario input, .formulario textarea  {
    width: 80%; 
    padding: 1.5%;
    font-size: 1rem;
    margin: 1.2%;
    border: 2px solid #c6e2cb;
    border-radius: 5px;
    font-family:Kanit, Geneva, Tahoma, sans-serif; 
}
/*Estilos para el mapa */
.mapa iframe {
    width: 80%;
    height: 85%;
    border: 2px solid #c6e2cb;
    border-radius: 8px;
}
/* Footer */
footer {
    background: linear-gradient(90deg, rgba(66,103,86,1) 50%, rgba(0,255,205,1) 100%);
    padding: 1.5%;
    color: white;
    border-radius: 8px;
    font-family: Kanit, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}
.footer_grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
    'item1 item2 item3'
    'item1 item4 item5';
    grid-gap: 1%;
 }
 .footer_item1 {
    grid-area: item1;
    align-content: center;
  }

  .footer_item2 {
    grid-area: item2;
  }

  .footer_item3 {
    grid-area: item3;
  }
  .footer_item4 {
    grid-area: item4;
  }
  .footer_item5 {
    grid-area: item5;
  }
footer a {
    padding:1.5% ;
}

/* media queries  */
@media (width< 720px) {
    body {
        font-family: Roboto, Geneva, Tahoma, sans-serif;
    }   
    .footer_grid {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        'item1'
        'item2'
        'item4'
        'item3'
        'item5';
        grid-gap: 1%;
     }

     .contacto_flex{
        flex-direction: column;
        justify-content: center;
 
    }
    .busqueda form {
        flex-direction: column;
        align-items: center;
    }
}
